{% load get_group %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/sb-admin-2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/dishes.css' %}">
    <title>Food Ordering System</title>
</head>
<body style="background-color:#f0f0f0;">
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><h3>Food Order </h3></a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto" style="margin-right: 15px;">
                    <li><a href="{% url 'main:home' %}" class="mr-2 text-light"  style="padding-right: 20px">Home</a></li>
                {% if user.is_authenticated %}
                    {% if request.user|has_group:"admin_owner" %} 
                        <li><a href="{% url 'main:admin_dashboard' %}" class="mr-2 text-light">DashBoard</a></li>
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="mr-2">Logout</button>
                            </form>
                        </li> 
                    {% else %}
                        <li><a href="{% url 'main:cart' %}" class="mr-2 text-light"  style="padding-right: 20px">My Cart🛒</a></li>
                        <li><a href="{% url 'main:order_details' %}" class="mr-2 text-light"  style="padding-right: 20px">Your Orders</a></li>
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="mr-2"  style="padding-right: 20px">Logout</button>
                            </form>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'accounts:login' %}" class="mr-2 text-light"  style="padding-right: 20px">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}" class="mr-2 text-light"  style="padding-right: 20px">SignUp</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div role="main" >
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="height: auto">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <div class="footer-basic" >
        <footer>
            <div class="social">
                <a href="#"><i class="icon ion-home"></i></a>
                <a href="https://www.facebook.com/locNguyen1609/"><i class="icon ion-social-facebook"></i></a>
                <a href="https://www.instagram.com/_w.nn_/"><i class="icon ion-social-instagram"></i></a>
                <a href="https://github.com/locDEV169"><i class="icon ion-social-github-outline"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.linkedin.com/in/loc-nguyen-ba307b203/"><i class="icon ion-social-linkedin"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Redesin by Loc Nguyen vs Thinh Pham 2021</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        $('.carousel').carousel();
    </script>
</body>